.card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding-top: 30%;
    margin-top: 5%;
    font-size: 15px;
}
.table-container {
    padding: 0 10%;
    margin: 40px auto 0;
}